<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mandou.appinchina">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- GPS - optional -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- pangle sdk -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppInChina">

        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:launchMode="singleTask"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.NativeBannerActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedListActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeedRecyclerActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NativeInteractionActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RewardVideoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.FullScreenVideoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.DrawNativeVideoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.DrawNativeExpressVideoActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.NativeExpressActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.NativeExpressListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.InteractionExpressActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.BannerExpressActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".activity.AllExpressAdActivity" />

        <service android:name=".service.AppDownloadService" />

        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="com.mandou.appinchina.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="com.mandou.appinchina.TTMultiProvider"
            android:exported="false" />
    </application>

</manifest>